.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('/assets/big_DSCF2777.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  }

  img{
    opacity: 0.6;
  }

  .container {
    color:white;
  }
  
 .tot{
   display: inline-flex;
   width: auto;
 }