<header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="font-weight-bold">{{terenSelectat.name}}</h1>
          <p class="lead">{{terenSelectat.adress}}</p>
        </div>
      </div>
    </div>
  </header>
  
  <!-- Page Content -->
  <section class="tot py-5">
    <div class="container">
      <h2 class="font-weight-light">Sector {{terenSelectat.sector}}</h2>
        <p>{{terenSelectat.description}}</p>
        <iframe width="600" height="450" frameborder="0" style="border:0" 
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ8RNzhK7_sUARr6ayDHTaOZ4&key=AIzaSyB_15W-d4UfsEpI1gWgfaxODa6KtXyMAIw" allowfullscreen></iframe>
    </div>

    <div class="calendar py-5">
      <app-calendar></app-calendar>
    </div>
   
    
  </section>

  

  
